<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="{{ pkg.description }}" />
    <title>Button Design Workshop</title>
    <style>
      main ul {
        list-style-type: none;
        padding: 0;
      }
      main ul li img {
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Button Design Workshop</h1>
    </header>
    <main>
      <ul>
        <li>
          <a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fstarecat.com%2Fcontent%2Fwp-content%2Fuploads%2Fdownload-buttons-you-must-choose-wisely-indiana-jones.jpg&imgrefurl=https%3A%2F%2Fwww.reddit.com%2Fr%2FShowerthoughts%2Fcomments%2F9piizn%2Fthe_selecting_the_true_holy_grail_scene_in%2F&docid=ab4gRN8UFJODfM&tbnid=gjqjASrtl8mdHM%3A&vet=10ahUKEwj7msP0iMLeAhXTfMAKHX8eCmQQMwhFKAYwBg..i&w=735&h=491&client=ubuntu&bih=748&biw=1440&q=indiana%20jones%20find%20right%20download%20button%20comic&ved=0ahUKEwj7msP0iMLeAhXTfMAKHX8eCmQQMwhFKAYwBg&iact=mrc&uact=8">Indiana Jones Holy Grail Scene</a>
        </li>
        <li>
          <a href="http://www.trackybirthday.com/">trackybirthday.com</a>
        </li>
        <li>
          <img src="https://pics.me.me/choosing-right-download-button-mematic-net-which-one-inspired-by-post-23823167.png" />
        </li>
        <li>
          <img src="https://external-preview.redd.it/9C8Dwq2DY9Jjqy-MZBYdBKnDwDQIo60OMae9ya64tL8.jpg?auto=webp&s=50d88eadcd6f6bdec1ca0941bfda2058d4c1d11c" />
          <a href="http://thewaxtwin.com/">Andy Babbitz</a>
        </li>
      </ul>
    </main>
    <footer>&copy; 2018 Emanuel Tannert, Wolfgang Schöffel</footer>
  </body>
</html>
